# Fichiers générés par CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
.cmake-build-debug\*
.idea\*


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-4ed76f75d03d629a9f5d.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-49e4a5c68933a5c36c8d.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-351a18ef5be652a0dc00.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-12-02T14-42-48-0122.json
cmake-build-debug/.cmake/api/v1/reply/target-Computer_Final_Assignement-Debug-7c72da3f0c99c6192924.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7e2bb435e96ffe0e0f74.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
